#!/usr/bin/make -f
# -*- makefile -*-
# Sample debian/rules that uses debhelper.
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

include /usr/share/dpatch/dpatch.make

PACKAGE=yorick
PKGDIR=debian/$(PACKAGE)
SHELL=/bin/bash

CFLAGS = -Wall -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
	CFLAGS += -O0
else
	CFLAGS += -O2
endif

export CFLAGS

configure: configure-stamp
configure-stamp: patch-stamp
	dh_testdir
	make Y_HOME=relocate ysite
	touch configure-stamp

build: build-stamp
build-stamp: configure-stamp 
	dh_testdir
	$(MAKE) install
	-rm relocate/LICENSE
	cp install.rel relocate/README
	$(MAKE) -C doc yorick.info
	mkdir build
	mv relocate build/yorick
	touch build-stamp

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-rm -Rf build relocate
	$(MAKE) distclean
	-rm -f `find . -name "*~"`
	$(MAKE) Y_HOME=. ysite
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k 
	dh_installdirs
	dh_install
	cp emacs/yorick-auto.el $(PKGDIR)/etc/emacs/site-start.d/50yorick-auto.el
	convert icons/yicon32.png $(PKGDIR)/usr/share/pixmaps/yorick32x32.xpm
	convert icons/yicon16.png $(PKGDIR)/usr/share/pixmaps/yorick16x16.xpm

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs 
	dh_installdocs
	dh_installexamples
	dh_installmenu
	dh_installinfo
	dh_installman
	dh_link
	dh_strip
	dh_usrlocal
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch

CVSVERS=`head -1 orig-sources/yorick/VERSION`.`tail -1 orig-sources/yorick/VERSION | awk '{ printf "%02.0f", $$1-1 }'`cvs`date +"%Y%m%d"`.orig
CVSROOT=:pserver:anonymous:@yorick.cvs.sourceforge.net:/cvsroot/yorick
get-orig-source:
	-rm -Rf orig-sources
	mkdir orig-sources
	cvs -d$(CVSROOT) login
	cd orig-sources ; cvs -z3 -d$(CVSROOT) export -D now $(PACKAGE)
	rm orig-sources/yorick/play/hacks/hack103.c
	rm orig-sources/yorick/i/idlsave.i
	rm -Rf orig-sources/opengl
	-rm -Rf yorick-$(CVSVERS)
	cp -a orig-sources/yorick yorick-$(CVSVERS)
	tar cvzf yorick_$(CVSVERS).tar.gz yorick-$(CVSVERS)
	rm -Rf yorick-$(CVSVERS)
	rm -Rf orig-sources


.PHONY: build clean binary-indep binary-arch binary install configure
